/* Contenedor Banner */
.container-banner {
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: center;
    align-items: center;
    height: 665px;
}

.flex-img {
    width: 330px;
    height: auto;
}

.flex-img img {
    display: flex;
    width: 100%;
    height: auto;
}

.container-banner h1 {
    color: $colorPrimario;
    font-size: 40px;
}

.container-banner .flex-hello {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
    margin-left: 30px;
}
